/* src/components/SignUpForm.css */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    width: 300px;
    text-align: center;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form button:hover {
    background-color: #0044b7;
  }
  
  /* Sign In Form Styles */
  .sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    /* Add specific styles for Sign In form here */
  }


  